@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.w-1920 {
  max-width: 1920px;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 125px);
}

article.h100 {
  height: calc(100vh - 125px);
}

button {
  &:focus {
    outline: none;
  }
}

@media(max-width:1920px) {
  .w-1920 {
      padding: 0 20px;
  }
}

@media(max-width:1344px) {
  main {
    min-height: calc(100vh - 152px);
  }
}

@media(max-width:992px) {
  main {
    min-height: calc(100vh - 209px);
  }
}

@media(max-width:500px) { 
  main {
    min-height: calc(100vh - 258px);
  }
}
/*header*/

.logo {
  width: 300px;
  
  & img {
      width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  padding-top: 20px;
  background-color: #000;
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
  &-item {
    display: flex;
    margin-left: 10px;

    &--auth {
      margin-left: 20px;
      background-color: #fff;
      border-radius: 10px;
      
      a.menu-link {
        color: #000;
        
        &:hover {
          border: 1px solid transparent;
        }
      }
    }
  }
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid transparent;
    color: #fff;
    
    &:hover {
      border: 1px solid #fff;
    }
  }
}

@media(max-width:1344px) {
  .logo {
    width: 200px;
  }

  .header {
    flex-direction: column;
    height: 152px;
  }

  .menu {
    margin-top: 10px;
    &-item {
      margin-bottom: 5px;
    }
  }
}

@media(max-width:992px) {
  .header {
    height: 209px;
  }

  .menu {
    margin-top: 10px;
    &-item {
      margin-bottom: 5px;
      &--auth {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
@media(max-width:500px) { 
  .header {
    height: 258px;
  }
}
/*banner*/

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 125px);
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #000;
  color: #fff;

  &-logo {
   .logo {
     width: 500px;
   }
  }

  &-sub-title {
    font-size: 90px;
    font-weight: 700;
  }

  &-content-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    border: 5px dotted #fff;
  }

  &-text {
    font-size: 20px;
    &--cross-out {
      text-decoration: line-through;
    }
  }

  &-link {
    width: 200px;
    margin-top: auto;
    animation: translating 1s linear infinite alternate ;

    & img {
      width: 100%;
    }
  }
}

@media(max-width:1344px) {
  .banner {
    justify-content: center;
    height: calc(100vh - 152px);

    &-link {
      width: 100px;
      margin-top: 20px;
    }

    &-logo {
     .logo {
       width: 300px;
     }
    }
  
    &-sub-title {
      font-size: 24px;
    }
  
    &-text {
      font-size: 20px;
      &--cross-out {
        text-decoration: line-through;
      }
    }
  }
}
@media(max-width:992px) {
  .banner {
    height: calc(100vh - 209px);
  }
}

@keyframes translating {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(0, 20px); }
}

/*footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background:#000;
  color:#fff;

  a {
    color: #fff;
  }
}

.creators {
  display: flex;
  flex-direction: column;
}

/*advantages*/

.advantages {
  padding: 50px 20px;
}

.advantages-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.advantages-sub-title {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.advantages-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  background-color: #000;
}

.advantages-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 30px;
  text-align: center;
}

@media(max-width:1344px) {
  .advantages-item-text {
    font-size: 20px;
  }
}

@media(max-width:900px) {

  .advantages-item-text {
    font-size: 14px;
  }

  .advantages-item {
    width: 40%;
    padding-bottom: 40%;
    margin-bottom: 10px;
  }

  .advantages-title {
    font-size: 24px;
  }
  
  .advantages-sub-title {
    font-size: 18px;
  }
}

/*whowe*/

.whowe {
  padding: 50px 20px;
}

.whowe-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.whowe-sub-title {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.whowe-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.whowe-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  h3 {
    margin-bottom: 20px;
  }
}

.whowe-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.sliding-button {
  width: 30%;
  text-decoration: none;
  color: #000;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid #000;
  border-image-slice: 1;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: #000;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
  color: #fff;
}
.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

@media(max-width:1344px) {
  .whowe-item-text {
    font-size: 20px;
  }
}

@media(max-width:900px) {
  
  .whowe-item-text {
    font-size: 14px;
  }

  .whowe-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .whowe-title {
    font-size: 24px;
  }
  
  .whowe-sub-title {
    font-size: 18px;
  }
}

/*video*/

.video {
  padding: 50px 20px;
}

.video-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.video-sub-title {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.video-wrap {
  max-width: 600px;
  margin: 0 auto;
}

.video-inner {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

@media(max-width:1344px) {
  .video-item-text {
    font-size: 20px;
  }
}

@media(max-width:900px) {
  .video-title {
    font-size: 24px;
  }
  
  .video-sub-title {
    font-size: 18px;
  }
}

/*choose-difficult*/

.choose-difficult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.choose-difficult__list {
  display: flex;
  margin-top: 20px;
}

.choose-difficult__item {
  display: flex;
}

.choose-difficult__btn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
}

.choose-difficult__title {
  text-align: center;
}

.game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*game-savanna*/

.game-savanna {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.game-savanna__life {
  position: absolute;
  top: 20px;
  right: 20px;

  & img {
    margin-right: 5px;
  }
}

.game-savanna__board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.game-savanna__current-word {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: #555;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.3);
}

.game-savanna__variants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: auto;
  border-top: 3px solid #000;
  background-color: rgba(0,0,0,0.3);

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 50px;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    font-size: 20px;
    border: 1px solid rgb(201, 201, 201);
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #555;
    }
  }
}

@media(max-width:768px) {
  .game-savanna__variants {
    flex-direction: column;
    & button {
      width: 80%;
    }
  }
}
/*game-audio*/
.game-audio {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.game-audio__board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

.word-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.word-info__img-wrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sound {
  width: 200px;
  height: 200px;
  padding: 20px;
  background: none;
  border: 5px solid #000;
  border-radius: 50%;
  cursor: pointer;
  
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.4s;
  }

  &:hover{
    background: #fff;

    & img {
      transform: scale(1.1);
    }
  }
}

.word-info__inner {
  .sound {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    padding: 1px;
    margin-right: 10px;
  }
}

.word-info__text {
  font-size: 20px;
}

.word-info__gap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.game-audio__variants {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  &.disabled {
    &:after {
      content: '';
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
    }
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 50px;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    color: #000;
    font-size: 20px;
    border: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #fff;
      color: #555;
    }

    &.right {
      background-color: rgba(59, 209, 42, 0.6);
    }

    &.wrong {
      background-color: rgba(216, 2, 2, 0.6);
    }
  }
}

.game-audio__btn {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background: #000;
  border: 1px solid transparent;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  
  &.game-audio__btn--next {
    padding: 10px;
    background: #fff;
    border: 2px solid #000;
  }

  & img  {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/*game=sprint*/ 

.game-sprint {
  position: relative;
  background-color: #d8c665;
  background-image: linear-gradient(342deg, #d8c665 0%, #ffffff 100%);
}

.game-sprint__points {
  font-size: 50px;
  color: rgb(175, 172, 10);
}

.game-sprint__board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
}

.game-sprint__board-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-sprint__word,
.game-sprint__translate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 11px);
  padding: 10px;
  border-radius: 20px;
  color: #000;
  text-align: center;
}

.game-sprint__translate {
  background: rgb(229, 243, 33);
}

.game-sprint__word {
  background: rgb(171, 182, 27);
}

.game-sprint__equal {
  margin: 0 10px;
}

.game-sprint__btn {
  width: 50%;
  height: 50px;
  border: none;
  cursor: pointer;
  color: #fff;
  &--wrong {
    background: rgb(173, 27, 27);
  }
  &--right {
    background: rgb(33, 218, 94);
  }
}

.game-sprint__btn-block {
  display: flex;
  align-items: center;
  width: 100%;
}

.game-sprint__words-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
  font-size: 40px;
}

@media(max-width:650px) {
  .game-sprint__words-block {
    flex-direction: column;
  }

  .game-sprint__word,
  .game-sprint__translate {
    width: 100%;
  }
}

/*timer*/

.timer {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
}

@media(max-width:650px) {
  .timer {
    right: 50%;
    transform: translate(50%,0);
  }
}

/*finish-popup*/
.finish-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finish-point {
  margin-bottom: 10px;
  font-size: 64px;
  color: rgb(175, 172, 10);
}

.finish-title {
  font-size: 64px;
  margin-bottom: 10px;
}

.finish-result {
  font-size: 50px;
}

.finish-btn-restart {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  & img {
    width: 100%;
    height: 100%;
  }
}

/*loader*/
:root
{
	--duration: 1.5s;
	--container-size: 250px;
	--box-size: 33px;
	--box-border-radius: 15%;
}

.loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 125px);
}
.loader
{
	width: var(--container-size);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.loader__box
{
	width: var(--box-size);
	height: var(--box-size);
	position: relative;
	display: block;
	transform-origin: -50% center;
	border-radius: var(--box-border-radius);
	
	&:after
	{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background-color: lightblue;
		border-radius: var(--box-border-radius);
		box-shadow: 0px 0px 10px 0px rgba(#1C9FFF, 0.4);
	}
	
	&:nth-child(1)
	{
		animation: slide var(--duration) ease-in-out infinite alternate;
		&:after{ animation: color-change var(--duration) ease-in-out infinite alternate; }
	}
	
	@for $i from 1 to 5 
	{
		&:nth-child(#{$i + 1})
		{	
			animation: flip-#{$i} var(--duration) ease-in-out infinite alternate;
			&:after{ animation: squidge-#{$i} var(--duration) ease-in-out infinite alternate; }
		}
	}
	
	&:nth-child(2):after{ background-color: #1C9FFF; }
	&:nth-child(3):after{ background-color: #1FB1FD; }	
	&:nth-child(4):after{ background-color: #22C7FB; }
	&:nth-child(5):after{ background-color: #23D3FB; }
}

@keyframes slide
{
	0% { background-color: #1795FF; transform: translatex(0vw); }
	100% { background-color: #23D3FB; transform: translatex(calc(var(--container-size) - (var(--box-size) * 1.25))); }
}

@keyframes color-change
{
	0% { background-color: #1795FF; }
	100% { background-color: #23D3FB; }
}

@for $i from 1 to 5 
{	
    @keyframes flip-#{$i} {
      0%, #{$i * 15}% { transform: rotate(0); }  
      #{$i * 15 + 20}%, 100% { transform: rotate(-180deg); }
    }
	
	@keyframes squidge-#{$i}
	{
		#{$i * 15 - 10}% { transform-origin: center bottom; transform: scalex(1) scaley(1);}
		#{$i * 15}% { transform-origin: center bottom; transform: scalex(1.3) scaley(0.7);}
		#{$i * 15 + 10}%, #{$i * 15 + 5}% { transform-origin: center bottom; transform: scalex(0.8) scaley(1.4);}
		#{$i * 15 + 40}%, 100% { transform-origin: center top; transform: scalex(1) scaley(1);}
		#{$i * 15 + 25}% { transform-origin: center top; transform: scalex(1.3) scaley(0.7);}
	}
}





.card-container {
  width: 300px;
}

.col-md-12 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  color: black;
  background-color: #fff;
  border-color: black;
}

// .btn-primary-active {
//   color: #fff;
//   background-color: black;
//   border-color: black;  
// }

.menu-link,
.menu-link:hover {
  text-decoration: none;
  color: white;
}

/*dictionary*/



.nav-dictionary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-item {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: #000;
    color: #fff;
  }
}

.words-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.word-item {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
}

.word-item__img-wrap {
  width: 200px;
  min-width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.word-item__title-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  * {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.word-item__examples-title {
  margin: 10px 0;
}

@media(max-width:600px) {
  .word-item {
    flex-direction: column;
    align-items: center;
  }
  .word-item__img-wrap  {
    margin-bottom: 20px;
  }
}